.GuidePage {
  height: 100vh;
  background-color: #000;
  background-image: url("@/assets/home/homeCenter.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  box-sizing: border-box;
  .hintBox {
    position: fixed;
    bottom: 5vh;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hintTxt1 {
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      display: inline-block;
      background-image: linear-gradient(
        32.86788150482898deg,
        #cdb1fe 0%,
        #ffffff 52%,
        #ae9cfb 100%
      );
      background-size: 100%;
      background-repeat: no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent !important;
    }
    .hintTxt2 {
      margin-top: 6px;
      font-weight: 400;
      font-size: 20px;
      color: #ffffff;
    }
    .hintTxt3 {
      margin-top: 20px;
      font-weight: 400;
      font-size: 14px;
      color: #a37fff;
    }
  }
}
