@use "@/styles/global" as *;
.walletBox {
  display: flex;
  align-items: center;
  background: $primaryBgLg;
  padding: 8px 16px;
  border-radius: 16px;
  .walletIcon {
    width: 16px;
    height: 16px;
  }
  .walletTitle {
    margin-left: 8px;
    font-weight: 500;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.85);
  }
}
