.no-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
   
    img {
        width: 140px;
        object-fit: contain;
        margin-bottom: 10px;
    }

    span {
        font-size: 12px;
        color: #ffffff45;
    }
}