.HomeCenterBox {
  padding-inline: 16px;
  margin-top: -50px;
  background-image: url("@/assets/home/centerBg.png");
  background-position: top 185px right; /* 从上方50px开始 */
  background-repeat: no-repeat;
  background-size: 100% 590px;
  height: 800px;
  .title {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
  }
  .totalBox {
    margin-top: 8px;
    .totalTop20 {
      margin-top: 20px;
    }
    .totalOption {
      .font12Option {
        color: #00f8f3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .txt {
          font-size: 12px;
          font-weight: 400;
          color: #00f8f3;
        }
      }
      .font16Option {
        margin-top: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .txt {
          font-size: 16px;
          font-weight: 500;
          font-size: 16px;
          color: #ffffff;
        }
      }
    }
  }
  .box {
    background: rgba(0,240,247,0.15);
    border: 1px solid #00c4f7;
    margin-top: 12px;
    border-radius: 8px;
    padding: 16px 12px;
    .boxTitle {
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      color: #00f8f3;
    }
    .boxContent {
      text-align: center;
      margin-top: 4px;
      font-weight: 500;
      font-size: 20px;
      color: #ffffff;
    }
  }
  .biTitle {
    margin-top: 40px;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
  }
  .vipBox {
    margin-top: 270px;
    .title {
      font-weight: 500;
      font-size: 18px;
      color: #ffffff;
    }
    .hintTxt {
      margin-top: 12px;
      font-weight: 400;
      font-size: 12px;
      text-align: center;
      color: #00f8f3;
    }
    .centerBox {
      margin-top: 16px;
      background: rgba(0, 0, 0, 0.35);
      border-radius: 4px;
      padding: 8px;
      .centerTxtOption {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .centerTxt {
          flex: 1;
          font-weight: 400;
          font-size: 12px;
          color: #00f8f3;
        }
      }
      .centerTxtTop12 {
        margin-top: 12px;
      }
    }
    .stepBox {
      display: flex;
      align-items: center;
      margin-top: 14px;
      .lpOption {
        padding: 2px 8px;
        background: #138bff;
        border-radius: 50px;
        font-weight: bold;
        font-size: 12px;
        color: #ffffff;
        position: relative;
        .lpTxt {
          position: absolute;
          bottom:-24px;
          left: 0;
          font-weight: 400;
          font-size: 12px;
          color: #138bff;
        }
      }
      .lpLine {
        width: 106px;
        height: 6px;
        background: #138bff;
      }
      .nodeOption {
        padding: 2px 8px;
        background: #40db67;
        border-radius: 50px;
        font-weight: bold;
        font-size: 12px;
        color: #ffffff;
        position: relative;
        .nodeTxt {
          position: absolute;
          bottom:-24px;
          left: 0;
          font-weight: 400;
          font-size: 12px;
          color: #40db67;
        }
      }
      .nodeLine {
        width: 175px;
        height: 6px;
        background: #00d7d3;
      }
      .donateOption {
        padding: 2px 8px;
        background: #00d7d3;
        border-radius: 50px;
        font-weight: bold;
        font-size: 12px;
        color: #ffffff;
        position: relative;
        .donateTxt {
          position: absolute;
          bottom:-24px;
          left: 0;
          font-weight: 400;
          font-size: 12px;
          color: #00d7d3;
        }
      }
    }
    .addressBox {
      border-radius: 4px;

      margin-top: 42px;
       display: flex;
        align-items: center;
        background: rgba(0, 0, 0, 0.35);

      .adddressTxt {
        display: flex;
        align-items: center;
        border-radius: 4px;
        padding: 12px 8px;
        box-sizing: border-box;
        .spn1 {
          flex: none;
          font-weight: 400;
          font-size: 12px;
          color: #00f8f3;
        }
        .spn2 {
          flex: 1;
          width: 230px;
          margin-inline: 12px;
          font-weight: 400;
          font-size: 12px;
          color: #ffffff;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .copyIcon {
        margin-right: 12px;
        flex:none;
        width: 16px;
        height: 16px;
      }
    }
  }
}
