.NodePage {
  background: #000;
  .block200 {
    height: 200px;
  }
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  padding-bottom: 40px;
  background-size: 100% 800px;
  height: 100%;
  background-image: url("@/assets/home/homeCenter.png");
  background-repeat: no-repeat;
  .loading-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .black-box {
    height: 40px;
    background: skyblue;
  }
  .header-box {
    height: 190px;
    .header-box-image {
      padding-top: 80px;
      background-repeat: no-repeat;
      background-size: cover;
      height: 190px;
    }
  }

  .center-number-option {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .appNameBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .appName {
    font-weight: bold;
    font-size: 24px;
    padding-inline: 16px;
    text-align: center;
    display: inline-block;
    background-image: linear-gradient(
      32.86788150482898deg,
      #cdb1fe 0%,
      #ffffff 52%,
      #ae9cfb 100%
    );
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent !important;
  }
  .number-option {
    margin-top: 13px;
    display: inline-flex; /* 让对齐属性生效 */
    align-items: center;
    justify-content: center;
    /* 只给 左上 & 右下 圆角 */
    border: 1px solid #00d3e3;
    border-radius: 4px; /* 左上 & 左下圆角 */
    /* 必须加，让圆角对 border-image 生效 */
    .spn-1 {
      padding: 3px 12px;
      background: linear-gradient(270deg, #448eff 0%, #8240cb 100%);
      border-radius: 4px 0px 0px 4px;
      font-weight: 500;
      font-size: 12px;
      color: #fff;
    }
    .spn-2 {
      padding: 3px 16px;
      font-weight: 500;
      font-size: 12px;
      color: #fff;
    }
  }
  .number-info-option {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    .number-item {
      flex: 1;
      .number-item-top {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #0be72f;
      }
      .number-item-end {
        text-align: center;
        margin-top: 8px;
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.65);
      }
    }
    .line-item {
      width: 1rpx;
      height: 80px;
      background: #ffffff;
      opacity: 0.15;
    }
  }
  .nodesListBox {
    .box {
      margin-top: 12px;
      border-radius: 8px;
      margin-inline: 16px;
      padding: 1px; // 边框厚度
      background: linear-gradient(
        180deg,
        rgba(203, 214, 255, 0.75),
        rgba(95, 130, 245, 0.75)
      );
      clip-path: polygon(
        8px 0,
        calc(100% - 8px) 0,
        100% 8px,
        100% calc(100% - 8px),
        calc(100% - 8px) 100%,
        8px 100%,
        0 calc(100% - 8px),
        0 8px
      );
    }
    .nodeBox {
      position: relative;
      padding: 16px 12px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(37, 26, 70, 0.85) 100%
      );
      clip-path: polygon(
        8px 0,
        calc(100% - 8px) 0,
        100% 8px,
        100% calc(100% - 8px),
        calc(100% - 8px) 100%,
        8px 100%,
        0 calc(100% - 8px),
        0 8px
      );
      .headerTop {
        display: flex;
        align-items: center;
        .leftOption {
          flex: auto;
          display: flex;
          align-items: center;
          .txt {
            font-weight: bold;
            font-size: 16px;
            color: #ffffff;
          }
          .tagOption {
            margin-left: 4px;
            display: flex;
            align-items: center;
            border-radius: 4px;
            border: 1px solid #fff;
            .spn1 {
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
              background: linear-gradient(270deg, #448eff 0%, #8240cb 100%);
              border-right: 1px solid #fff;
              padding: 2px 10px;
              text-align: center;
              font-weight: 400;
              font-size: 12px;
              color: #ffffff;
            }
            .spn2 {
              padding: 2px 8px;
              font-size: 12px;
              font-weight: 400;
              text-align: center;
              color: #fff;
              .spn2-1 {
                font-size: 12px;
                font-weight: 400;
                color: #a37fff;
              }
            }
          }
        }
        .rightOption {
          flex: none;
          font-weight: bold;
          font-size: 16px;
          color: #a37fff;
        }
      }
      .stepBox {
        margin-top: 19px;
        display: flex;
        align-items: center;
        .stepOption {
          width: 100%;
          position: relative;
          border-radius: 3px;
          height: 4px;
          background: rgba(255, 255, 255, 0.08);
          .stepCheckOption {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            border-radius: 3px;
            background: #a37fff;
          }
        }
      }
      .txtBox {
        margin-top: 16px;
        .txtOption {
          margin-bottom: 8px;
          display: flex;
          align-items: center;
          .txtIcon {
            width: 16px;
            height: 16px;
          }
          .txt {
            margin-left: 4px;
            font-weight: 400;
            font-size: 12px;
            color: #ffffff;
          }
        }
      }
      .endTxtOption {
        font-weight: 400;
        font-size: 10px;
        color: #a37fff;
      }
      .buyBtn {
        position: absolute;
        right: 12px;
        border-radius: 16px;
        padding: 6px 31px;
        text-align: center;
        bottom: 12px;
        border: 1px solid #fff;
        background: linear-gradient(270deg, #448eff 0%, #8240cb 100%);
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
      }
      .noBuy {
        position: absolute;
        right: 12px;
        border-radius: 16px;
        padding: 6px 31px;
        text-align: center;
        bottom: 12px;
        font-weight: 500;
        border: 1px solid #fff;
        background: linear-gradient(270deg, #696172 0%, #404957 100%);
        border-radius: 16px;
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
      }
    }
  }
}

.--adm-color-border {
  background: #00d7f0;
}
.lineHeight24{
  height: 24px;
}
.teamBox {
  padding: 1px;
  margin-inline: 16px;
  background: linear-gradient(
    180deg,
    rgba(203, 214, 255, 0.75),
    rgba(95, 130, 245, 0.75)
  );
  clip-path: polygon(
    8px 0,
    calc(100% - 8px) 0,
    100% 8px,
    100% calc(100% - 8px),
    calc(100% - 8px) 100%,
    8px 100%,
    0 calc(100% - 8px),
    0 8px
  );
  .teamBtn {
    position: relative;
    padding: 16px 12px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.85) 0%,
      rgba(37, 26, 70, 0.85) 100%
    );
    clip-path: polygon(
      8px 0,
      calc(100% - 8px) 0,
      100% 8px,
      100% calc(100% - 8px),
      calc(100% - 8px) 100%,
      8px 100%,
      0 calc(100% - 8px),
      0 8px
    );
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 8px;
    .teamIcon {
      width: 24px;
      height: 24px;
    }
    .spnTxt {
      margin-left: 8px;
      font-weight: 500;
      font-size: 14px;
      color: #00f8f3;
    }
  }
}
