.BuyNftPopup {
  box-sizing: border-box;

  .header-top-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .txt {
      text-align: center;
      font-weight: bold;
      font-size: 16px;
      color: #ffffff;
    }
    .icon-close {
      position: absolute;
      right: 0;
      width: 22px;
      height: 22px;
    }
  }
  .price-option {
    margin-top: 16px;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: 400;

  }
  .get-txt-option {
    text-align: center;
    margin-top: 6px;
    font-weight: 400;
    font-size: 12px;
    color: #A37FFF;
    
  }

  .need-pay-option {
    margin-top: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .need-txt-1 {
      font-weight: 400;
      font-size: 14px;
      color: #ffffff;
    }
    .need-txt-2 {
      font-weight: 400;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.45);
    }
  }
  .btn-option {
    margin-top: 36px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background:linear-gradient( 270deg, #448EFF 0%, #8240CB 100%);
    border: 1px solid #fff;
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
  }
}
.ant-drawer-content {
  background: linear-gradient(180deg, #372d7a 0%, #120b1d 100%) !important;
  border-radius: 16px 16px 0px 0px;
}
.ant-drawer-body {
  padding: 16px !important;
}
