.my-popup-page {
  background: linear-gradient(180deg, #375150 0%, #182726 100%);
  border-radius: 16px 16px 0px 0px;
  // padding: 16px;
  box-sizing: border-box;
  .header-option {
    display: flex;
    align-items: center;
    position: relative;
    .title {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      color: #ffffff;
    }
    .close-icon {
      top: 0;
      width: 22px;
      height: 22px;
    }
  }
  .title {
    margin-top: 12px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #00f8f3;
  }
  .hintBox {
    margin-top: 16px;
    background: #000000;
    border-radius: 8px;
    padding: 12px;
    .txtOption {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .txt {
        font-weight: 500;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.45);
      }
      .txtEnd {
        font-weight: bold;
        font-size: 16px;
        color: #00f8f3;
      }
    }
    .txtEndOption {
      margin-top: 4px;
    }
  }
  .hintOption {
    margin-top: 12px;
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.45);
    .spn1 {
      font-weight: 400;
      font-size: 14px;
      color: #00f8f3;
    }
  }
  .tag-box {
    display: flex;
    align-items: center;
    margin-top: 16px;
    background: rgba(253, 136, 10, 0.15);
    border-radius: 4px;
    padding: 6px 12px;
    .icon {
      width: 16px;
      height: 16px;
    }
    .txt-option {
      margin-left: 4px;
      font-weight: 400;
      font-size: 12px;
      color: #fd880a;
    }
  }
  .input-box {
    margin-top: 16px;
    .input-hint-txt-option {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .txt-option {
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.65);
      }
      .right-txt {
        font-weight: 400;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.65);
      }
    }
    .input-focus {
      border: 1px solid #00c7f7 !important;
    }
    .input-option {
      border-radius: 8px;
      margin-top: 8px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 15px 12px;
      font-size: 16px !important;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .input-class {
        flex: auto;
        color: #fff !important;
      }
      .adm-input-element {
        color: #fff !important;
      }

      input:focus {
        caret-color: #0be72f;
      }

      .input-txt {
        flex: none;
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
      }
      .line {
        width: 1px;
        height: 20px;
        margin-inline: 16px;
        background: rgba(255, 255, 255, 0.15);
      }
      .input-number {
        color: #fff;
        font-size: 16px;
      }
    }
    .input-no {
      border: none;
      background: rgba(255, 255, 255, 0.15);
    }
  }
  .hint-txt-box {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hint-txt-option {
      font-weight: 400;
      font-size: 14px;
      color: #ffffff;
    }
    .right-bold {
      font-weight: 500;
    }
    .right-option {
      font-size: 16px;
      color: #0be72f;
      font-weight: bold;
    }
  }
  .HintOption {
    margin-top: 114px;

    display: flex;
    align-items: center;
    .labelTxt {
      font-weight: 400;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.65);
    }
    .valueTxt {
      font-weight: 400;
      font-size: 14px;
      color: #00f8f3;
    }
  }
  .btn-withdraw-submit {
    margin-top: 65px;
    height: 50px;
    text-align: center;
    background: linear-gradient(270deg, #00fcc3 0%, #00b1fe 100%);
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    color: rgba(0, 0, 0, 0.85);
  }
}
