.headerFixedLoginBox {
  padding-left: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  padding-block:12px;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  .logoTopIcon {
    width: 112px;
    height: 40px;
  }
  &.scrolled {
    background-color: #000000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // 滚动后加阴影
  }
}