.myTeamPage {
  background: #000;
  padding: 16px;
  box-sizing: border-box;

  .teamContentBox {
    padding-bottom: 40px;
    height: calc(100vh - 45px);
    overflow-y: scroll;
    .headerBox {
      padding: 16px 0;
      display: flex;
      align-items: center;
      border-radius: 8px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(37, 26, 70, 0.85) 100%
      );
      clip-path: polygon(
        8px 0,
        calc(100% - 8px) 0,
        100% 8px,
        100% calc(100% - 8px),
        calc(100% - 8px) 100%,
        8px 100%,
        0 calc(100% - 8px),
        0 8px
      );
      border-radius: 8px;
      padding: 16px 14px;
      .itemOption {
        flex: 1;
        .number {
          text-align: center;
          font-weight: bold;
          font-size: 22px;
          color: #fff;
        }
        .txt {
          color: #a37fff;
          text-align: center;
          font-weight: 400;
          font-size: 12px;
          // color: rgba(255, 255, 255, 0.65);
          margin-top: 4px;
        }
      }
      .line {
        background: rgba(0, 0, 0, 0.35);
        width: 1px;
        height: 44px;
      }
    }
    .box {
      margin-top: 12px;
      border-radius: 8px;
      padding: 1px; // 边框厚度
      background: linear-gradient(
        180deg,
        rgba(203, 214, 255, 0.75),
        rgba(95, 130, 245, 0.75)
      );
      clip-path: polygon(
        8px 0,
        calc(100% - 8px) 0,
        100% 8px,
        100% calc(100% - 8px),
        calc(100% - 8px) 100%,
        8px 100%,
        0 calc(100% - 8px),
        0 8px
      );
    }
    .usdtInfo {
      padding: 16px 12px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(37, 26, 70, 0.85) 100%
      );
      clip-path: polygon(
        8px 0,
        calc(100% - 8px) 0,
        100% 8px,
        100% calc(100% - 8px),
        calc(100% - 8px) 100%,
        8px 100%,
        0 calc(100% - 8px),
        0 8px
      );
      .usdtTop {
        .title {
          text-align: center;
          font-weight: 500;
          font-size: 14px;
          color: #a37fff;
        }
        .number {
          text-align: center;
          margin-top: 12px;
          font-weight: 500;
          font-size: 20px;
          color: #ffffff;
        }
      }
      .usdtBottom {
        margin-top: 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .usdtItemBottom {
          width: 150px;
          height: 63px;
          background: rgba(0, 0, 0, 0.35);
          border-radius: 4px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          .title {
            margin-top: 4px;
            font-weight: 400;
            font-size: 12px;
            color: #00f8f3;
          }
          .number {
            font-weight: 500;
            font-size: 14px;
            color: #a37fff;
          }
        }
      }
    }

    .inviteBox {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(37, 26, 70, 0.85) 100%
      );
      clip-path: polygon(
        8px 0,
        calc(100% - 8px) 0,
        100% 8px,
        100% calc(100% - 8px),
        calc(100% - 8px) 100%,
        8px 100%,
        0 calc(100% - 8px),
        0 8px
      );
      padding: 16px 12px;
      box-sizing: border-box;
      display: flex;

      .inviteTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 24px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.12);
        .leftOption {
          flex: auto;
          .txt {
            font-weight: 500;
            font-size: 12px;
            color: #ffffff;
          }
          .price {
            margin-top: 8px;
            font-weight: bold;

            font-size: 16px;
            color: #0be72f;
          }
        }
        .rightOption {
          flex: none;
          .btn {
            width: 120px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            border-radius: 18px;
            color: #0be72f;
            border: 1px solid #0be72f;
          }
        }
      }
      .inviteEnd {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .spn1 {
          width: 100%;
          text-align: center;
          font-weight: 500;
          font-size: 14px;
          color: #a37fff;
        }
        .spn2 {
          margin-top: 12px;
          width: 100%;
          text-align: center;
          text-align: left;
          font-size: 12px;
          font-weight: 400;
          color: #00f8f3;
          white-space: nowrap; /* 不换行 */
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .copyIcon {
          margin-top: 20px;
          border-radius: 18px;
          font-weight: bold;
          font-size: 14px;
          color: #00f8f3;
          width: 142px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          border: 1px solid #00f8f3;
        }
      }
    }
    .awardBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 12px;
      .awardItenflex1 {
        width: 48%;
      }
      .itemBox {
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.85) 0%,
          rgba(37, 26, 70, 0.85) 100%
        );
        clip-path: polygon(
          8px 0,
          calc(100% - 8px) 0,
          100% 8px,
          100% calc(100% - 8px),
          calc(100% - 8px) 100%,
          8px 100%,
          0 calc(100% - 8px),
          0 8px
        );
        border-radius: 8px;
        padding: 16px 14px;
        width: 100%;
        .txt {
          font-weight: 400;
          font-size: 12px;
          color: #a37fff;
          text-align: center;
        }
        .awardColor {
          color: #f4ff00 !important;
        }
        .number {
          text-align: center;

          font-weight: 500;
          font-size: 16px;
          color: #ffffff;
          margin-top: 8px;
        }
        .btn {
          margin-top: 16px;
          width: 100%;
          height: 32px;
          font-weight: 500;
          line-height: 32px;
          border-radius: 16px;
          font-size: 14px;
          text-align: center;
          border: 1px solid #00f8f3;
        }
        .btnList {
          color: #00f8f3;
        }
        .btnAward {
          color: #000;
          background: linear-gradient(270deg, #00fcc3 0%, #00b1fe 100%);
        }
      }
    }
    .hintTeamListTxt {
      margin-top: 16px;
      font-weight: bold;
      font-size: 16px;
      color: #ffffff;
    }
    .teanListBox {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.85) 0%,
        rgba(37, 26, 70, 0.85) 100%
      );
      clip-path: polygon(
        8px 0,
        calc(100% - 8px) 0,
        100% 8px,
        100% calc(100% - 8px),
        calc(100% - 8px) 100%,
        8px 100%,
        0 calc(100% - 8px),
        0 8px
      );
      padding: 16px 12px;
      box-sizing: border-box;
      // display: flex;
    }
    .teamList {
      .itemTxtRight {
        text-align: right;
      }
      .itemTxtOne {
        width: 135px;
        text-align: left;
        font-weight: 400;
        font-size: 12px;
        color: #a37fff;
      }
      .teamHeaderOption {
        display: flex;
        align-items: center;

        .itemTxt {
          flex: 1;
          text-align: left;
          font-weight: 400;
          font-size: 12px;
          color: #a37fff;
        }
      }
      .marginLeft-6 {
        margin-left: 6px;
      }
      .teamListBox {
        .teamItem {
          margin-top: 16px;
          display: flex;
          align-items: center;
          padding-bottom: 16px;
          border-bottom: 1px solid rgba(255, 255, 255, 0.12);
          .walletsOption {
            display: flex;
            align-items: center;
            background: linear-gradient(270deg, #00fcc3 0%, #00b1fe 100%);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px;
            .walletsIcon {
              width: 16px;
              height: 16px;
            }
          }
        }

        .itemTxt {
          flex: 1;
          font-weight: 400;
          font-size: 12px;
          color: #ffffff;
        }
        .txtUsdt {
          color: #ffffff;
        }
      }
    }
  }
}
