.HomeTopBox {
  padding-top: 220px;
  .dappBox {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dappTitle {
    font-weight: bold;
    font-size: 32px;
    padding-inline: 16px;
    text-align: center;
    display: inline-block;
    background-image: linear-gradient(
      32.86788150482898deg,
      #cdb1fe 0%,
      #ffffff 52%,
      #ae9cfb 100%
    );
    background-size: 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent !important;
  }

  .dappHintTxt {
    text-align: center;
    margin-top: 6px;
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
  }
  .dappHintBgTxt {
    margin-top: 20px;
    padding: 4px 8px;
    font-size: 14px;
    text-align: center;
    color: #a37fff;
  }
  .btnList {
    padding-inline: 16px;
    margin-top: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .btn {
      height: 55px;
      line-height: 55px;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.85);
      width: 48%;
    }
    .bgOne {
      background: url('@/assets/home/homeBtnOne.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
    .bgTwo {
         background: url('@/assets/home/homeBtnTwo.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
}
